In [123]:
import pandas as pd 
import numpy as np 
import matplotlib as plt
import seaborn as sns

In [124]:
data_profit=pd.read_excel('Start-up_Profits.xlsx')
data_profit.shape

(150, 10)

In [125]:
data_funding=pd.read_excel('startup_funding.xlsx')
data_funding.shape

(3044, 10)

In [126]:
data_funding

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,2020-01-09 00:00:00,BYJU’S,E-Tech,E-learning,Bengaluru,Tiger Global Management,Private Equity Round,200000000,NaN
1,2,2020-01-13 00:00:00,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394,NaN
2,3,2020-01-09 00:00:00,Mamaearth,E-commerce,Retailer of baby and toddler products,Bengaluru,Sequoia Capital India,Series B,18358860,NaN
3,4,2020-01-02 00:00:00,https://www.wealthbucket.in/,FinTech,Online Investment,New Delhi,Vinod Khatumal,Pre-series A,3000000,NaN
4,5,2020-01-02 00:00:00,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Round,1800000,NaN
...,...,...,...,...,...,...,...,...,...,...
3039,3040,2015-01-29 00:00:00,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4500000,NaN
3040,3041,2015-01-29 00:00:00,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,825000,Govt backed VC Fund
3041,3042,2015-01-30 00:00:00,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000,NaN
3042,3043,2015-01-30 00:00:00,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
3043,3044,2015-01-31 00:00:00,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,140000,NaN

In [127]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [128]:
data =data_funding

In [129]:
data.columns

Index(['Sr No', 'Date dd/mm/yyyy', 'Startup Name', 'Industry Vertical',
       'SubVertical', 'City  Location', 'Investors Name', 'InvestmentnType',
       'Amount in USD', 'Remarks'],
      dtype='object')

In [130]:
data['Remarks'].unique()
data.nunique()#shows total no of unique values in each column

Sr No                3044
Date dd/mm/yyyy      1035
Startup Name         2459
Industry Vertical     821
SubVertical          1942
City  Location        112
Investors Name       2412
InvestmentnType        55
Amount in USD         470
Remarks                72
dtype: int64

In [82]:
# For Remarks

In [131]:
data.drop(columns=['Remarks'],inplace=True)

In [132]:
data.sample(2)

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD
665,666,2017-08-23 00:00:00,Bombay Shaving Company,eCommerce,Men Grooming product etailer,New Delhi,Fireside Ventures,Private Equity,2300000
2866,2867,2015-04-29 00:00:00,ReGlobe,Used Gadgets Buy / Refurbishing,NaN,Gurgaon,"Bessemer Ventures, Blume Ventures",Seed Funding,1000000

In [94]:
data.shape

(3044, 8)

Top 10  Investors By amount

In [135]:
data[data.Startup Name	=='Rapido']

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2401046247.py, line 1)