In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
Raw_df=pd.read_excel('cleaned_funding.xlsx')

In [3]:
Raw_df.head()

,Unnamed: 0,Sr No,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,date
0,0,1,BYJU'S,E-Tech,E-learning,Bangalore,Tiger Global Management,Private Equity,200000000.0,2020-01-09
1,1,2,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0,2020-01-13
2,2,3,Mamaearth,eCommerce,Retailer of baby and toddler products,Bangalore,Sequoia Capital India,Series B,18358860.0,2020-01-09
3,3,4,Wealth Bucket,Finance,Online Investment,New Delhi,Vinod Khatumal,Pre-Series A,3000000.0,2020-01-02
4,4,5,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Funding,1800000.0,2020-01-02

In [4]:
Raw_df=Raw_df.drop('Sr No',axis=1)

In [5]:
Raw_df['date']=pd.to_datetime(Raw_df['date']).dt.date

In [6]:
Raw_df['YrMo'] = [str(x.year) + '-' + str(x.month).zfill(2) for x in Raw_df['date']]
Raw_df['Year'] = [str(x.year) for x in Raw_df['date']]

In [7]:
dataset=Raw_df

In [8]:
dataset['Year Month'] = (pd.to_datetime(dataset['date']).dt.year*100) + (pd.to_datetime(dataset['date']).dt.month)

In [9]:
dataset['Industry Vertical'][dataset['Industry Vertical'] == 'Edtech'] = 'Ed-tech'
dataset['Industry Vertical'][dataset['Industry Vertical'] == 'Fiinance'] = 'Finance'
dataset['Industry Vertical'][dataset['Industry Vertical'] == 'Food & Beverage'] = 'Food and Beverage'

In [10]:
dataset.columns
dataset=dataset.rename(columns = {'City  Location':'CityMod'})
dataset

,Unnamed: 0,Startup Name,Industry Vertical,SubVertical,CityMod,Investors Name,InvestmentnType,Amount in USD,date,YrMo,Year,Year Month
0,0,BYJU'S,E-Tech,E-learning,Bangalore,Tiger Global Management,Private Equity,200000000.0,2020-01-09,2020-01,2020,202001
1,1,Shuttl,Transportation,App based shuttle service,Gurgaon,Susquehanna Growth Equity,Series C,8048394.0,2020-01-13,2020-01,2020,202001
2,2,Mamaearth,eCommerce,Retailer of baby and toddler products,Bangalore,Sequoia Capital India,Series B,18358860.0,2020-01-09,2020-01,2020,202001
3,3,Wealth Bucket,Finance,Online Investment,New Delhi,Vinod Khatumal,Pre-Series A,3000000.0,2020-01-02,2020-01,2020,202001
4,4,Fashor,Fashion and Apparel,Embroiled Clothes For Women,Mumbai,Sprout Venture Partners,Seed Funding,1800000.0,2020-01-02,2020-01,2020,202001
...,...,...,...,...,...,...,...,...,...,...,...,...
3039,3039,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,4500000.0,2015-01-29,2015-01,2015,201501
3040,3040,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,825000.0,2015-01-29,2015-01,2015,201501
3041,3041,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,1500000.0,2015-01-30,2015-01,2015,201501
3042,3042,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,2015-01-30,2015-01,2015,201501
3043,3043,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,140000.0,2015-01-31,2015-01,2015,201501

In [11]:
Raw_df=dataset

In [12]:
Raw_df['CityMod']=Raw_df['CityMod'].replace('Bangalore / Palo Alto','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Bangalore / San Mateo','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Bangalore/ Bangkok','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Bangalore / SFO','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Bangalore / USA','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('bangalore','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Chennai/ Singapore','Chennai')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Dallas / Hyderabad','Hyderabad')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Hyderabad/USA','Hyderabad')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Gurgaon / SFO','Gurgaon')
Raw_df['CityMod']=Raw_df['CityMod'].replace('India / US','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('London','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Mumbai / Global','Mumbai')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Mumbai / NY','Mumbai')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Mumbai / UK','Mumbai')
Raw_df['CityMod']=Raw_df['CityMod'].replace('New Delhi/ Houston','New Delhi')
Raw_df['CityMod']=Raw_df['CityMod'].replace('New Delhi / US','New Delhi')
Raw_df['CityMod']=Raw_df['CityMod'].replace('New Delhi / California','New Delhi')
Raw_df['CityMod']=Raw_df['CityMod'].replace('New York/ India','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Noida / Singapore','Noida')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Pune / Dubai','Pune')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Pune / US','Pune')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Pune/Seattle','Pune')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Pune / Singapore','Pune')
Raw_df['CityMod']=Raw_df['CityMod'].replace('Seattle / Bangalore','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('SFO / Bangalore','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('US/India','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('USA/India','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('US','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('USA','India')
Raw_df['CityMod']=Raw_df['CityMod'].replace('\\\\xc2\\\\xa0Bangalore','Bangalore')
Raw_df['CityMod']=Raw_df['CityMod'].replace('\\\\xc2\\\\xa0Noida','Noida')
Raw_df['CityMod']=Raw_df['CityMod'].replace('\\\\xc2\\\\xa0Mumbai','Mumbai')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Tulangan','Telangana')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Bengaluru','Bangalore')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Kolkatta','Kolkata')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Bengaluru','Bangalore')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Ahemadabad','Ahmedabad')

Raw_df['CityMod']=Raw_df['CityMod'].replace('Ahemdabad','Ahmedabad')

In [13]:
# Replacing 'Undisclosed investors' with a common name 'Undisclosed Investors'
dataset['Investors Name'][dataset['Investors Name'] == 'Undisclosed investors'] = 'Undisclosed Investors'
dataset['Investors Name'][dataset['Investors Name'] == 'Undisclosed Investor'] = 'Undisclosed Investors'
dataset['Investors Name'][dataset['Investors Name'] == 'undisclosed investors'] = 'Undisclosed Investors'
dataset['Investors Name'][dataset['Investors Name'] == 'Undisclosed'] = 'Undisclosed Investors'

In [14]:
Raw_df['CityMod'].unique()

array(['Bangalore', 'Gurgaon', 'New Delhi', 'Mumbai', 'Chennai', 'Pune',
       'Noida', 'Faridabad', 'San Francisco', 'San Jose,', 'Amritsar',
       'Kormangala', 'Telangana', 'Hyderabad', 'Burnsville', 'Menlo Park',
       'Palo Alto', 'Santa Monica', 'Singapore', 'Taramani', 'Andheri',
       'Chembur', 'Nairobi', 'Haryana', 'New York', 'Karnataka',
       'Mumbai/Bengaluru', 'Bhopal', 'Bengaluru and Gurugram',
       'India/Singapore', 'Jaipur', 'India/US', 'Nagpur', 'Indore',
       'New York, Bengaluru', 'California', 'India', 'Ahmedabad',
       'Rourkela', 'Srinagar', 'Bhubneswar', 'Chandigarh',
       'Delhi & Cambridge', 'Kolkata', 'Coimbatore', 'Udaipur', nan,
       'Bhubaneswar', 'Surat', 'Goa', 'Uttar Pradesh', 'Nw Delhi', 'Gaya',
       'Vadodara', 'Trivandrum', 'Missourie', 'Panaji', 'Gwalior',
       'Karur', 'Udupi', 'Kochi', 'Agra', 'Hubli', 'Kerala', 'Kozhikode',
       'Siliguri', 'Lucknow', 'Kanpur', 'Varanasi', 'Jodhpur', 'Boston',
       'Goa/Hyderabad', 'Belgaum'], dtype=object)

Q1. How does the funding ecosystem change with time?¶

In [15]:
months = dataset['Year Month'].value_counts().head(20)

In [16]:
print('Average number of fundings each month are',months.values.mean())

Average number of fundings each month are 85.8

In [17]:
print('Minimum number of fundings made in a month are',months.values.min())

Minimum number of fundings made in a month are 71

In [18]:
print('Maximum number of fundings in a month are',months.values.max())

Maximum number of fundings in a month are 104

In [19]:
# Creating a barplot for Number of fundings made each month
plt.figure(figsize = (20, 7))
sns.barplot(months.index, months.values, palette = 'colorblind')
plt.title('Number of Fundings each month', fontdict = {'fontname' : 'Monospace', 'fontsize' : 30, 'fontweight' : 'bold'})
plt.xlabel('Months', fontdict = {'fontname' : 'Monospace', 'fontsize' : 20})
plt.ylabel('Number of Fundings', fontdict = {'fontname' : 'Monospace', 'fontsize' : 20})
plt.tick_params(axis = 'x', labelsize = 12)
plt.tick_params(axis = 'y', labelsize = 15)
plt.grid()
plt.show()

TypeError: barplot() takes from 0 to 1 positional arguments but 2 positional arguments (and 1 keyword-only argument) were given

In [ ]:
#Q2. Do cities play a major role in funding?¶

In [ ]:
cities = dataset['CityMod'].value_counts().head(10)

In [ ]:
cities.values

In [ ]:
cities.index

In [ ]:
# Creating a barplot for number of fundings made in each city
plt.figure(figsize = (20, 7))
sns.barplot(cities.values, cities.index, palette = 'Paired')
plt.title('Number of fundings in each city', fontdict = {'fontname' : 'Monospace', 'fontsize' : 30, 'fontweight' : 'bold'})
plt.xlabel('Number of fundings', fontdict = {'fontname' : 'Monospace', 'fontsize' : 20})
plt.ylabel('Cities', fontdict = {'fontname' : 'Monospace', 'fontsize' : 20})
plt.tick_params(labelsize = 15)
plt.grid()
plt.show()

Q3. Which industries are favoured by investors for funding?¶

In [ ]:
industry = dataset['Industry Vertical'].value_counts().head(10)

In [ ]:
# Preview of frequencies of top 10 industy types
industry.values

In [ ]:
# Prevew the names of top 10 industry types
industry.index

In [ ]:
plt.figure(figsize = (20, 10))
plt.pie(industry.values, labels = industry.index, startangle = 30, explode = (0 , 0.20, 0, 0, 0, 0, 0, 0, 0, 0), 
        shadow = True, autopct = '%1.1f%%')
plt.axis('equal')
plt.title('Industry-wise distribution', fontdict = {'fontname' : 'Monospace', 'fontsize' : 30, 'fontweight' : 'bold'})
plt.show()

In [ ]:
# Selecting the most frequent subverticals
subvertical = dataset['SubVertical'].value_counts().head(10)

In [ ]:
# Preview of frequencies of top 10 subverticals
subvertical.values

In [ ]:
# Preview of names of top 10 subverticals
subvertical.index

In [ ]:
Raw_df['SubVertical']=Raw_df['SubVertical'].replace('Food Delivery Platform','Online Food Delivery')

In [ ]:
import datetime
Raw_df["yearmonth"] = pd.to_datetime(Raw_df['Date'],format='%d/%m/%Y').apply(lambda x: datetime.date(x.year,x.month,1))

cnt_srs = df["yearmonth"].value_counts()
cnt_srs = cnt_srs.sort_index()
trace = go.Scatter(
    x=cnt_srs.index.astype(str),
    y=cnt_srs.values,
    marker=dict(
        color="#1E90FF",
    ),
)

layout = go.Layout(
    title=go.layout.Title(
        text="Number of funding deals - month on month",
        x=0.5
    ),
    font=dict(size=14),
    width=800,
    height=500,
)

data = [trace]
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename="fundings")

In [ ]:
Raw_df.to

In [ ]:
Raw_df

Q2: Which Industry types are favoured by the investors??

In [ ]:
industry = Raw_df.Industry vertical.value_counts().head(10)
industry

In [20]:
Raw_df[["date"]

0       2020-01-09
1       2020-01-13
2       2020-01-09
3       2020-01-02
4       2020-01-02
           ...
3039    2015-01-29
3040    2015-01-29
3041    2015-01-30
3042    2015-01-30
3043    2015-01-31
Name: date, Length: 3044, dtype: object

In [23]:
Raw_df["CityMod"]

array(['Bangalore', 'Gurgaon', 'New Delhi', 'Mumbai', 'Chennai', 'Pune',
       'Noida', 'Faridabad', 'San Francisco', 'San Jose,', 'Amritsar',
       'Kormangala', 'Telangana', 'Hyderabad', 'Burnsville', 'Menlo Park',
       'Palo Alto', 'Santa Monica', 'Singapore', 'Taramani', 'Andheri',
       'Chembur', 'Nairobi', 'Haryana', 'New York', 'Karnataka',
       'Mumbai/Bengaluru', 'Bhopal', 'Bengaluru and Gurugram',
       'India/Singapore', 'Jaipur', 'India/US', 'Nagpur', 'Indore',
       'New York, Bengaluru', 'California', 'India', 'Ahmedabad',
       'Rourkela', 'Srinagar', 'Bhubneswar', 'Chandigarh',
       'Delhi & Cambridge', 'Kolkata', 'Coimbatore', 'Udaipur', nan,
       'Bhubaneswar', 'Surat', 'Goa', 'Uttar Pradesh', 'Nw Delhi', 'Gaya',
       'Vadodara', 'Trivandrum', 'Missourie', 'Panaji', 'Gwalior',
       'Karur', 'Udupi', 'Kochi', 'Agra', 'Hubli', 'Kerala', 'Kozhikode',
       'Siliguri', 'Lucknow', 'Kanpur', 'Varanasi', 'Jodhpur', 'Boston',
       'Goa/Hyderabad', 'Belgaum'], dtype=object)

In [28]:
Raw_df["Industry Vertical"].value_counts()

Consumer Internet                                        941
Technology                                               489
eCommerce                                                299
Finance                                                   78
Healthcare                                                70
                                                        ...
End-to-End Lending platform                                1
on-demand healthcare marketplace                           1
360-degree view creating platform                          1
Advertising & Marketing Community Networking platform      1
Online Travel Marketplace                                  1
Name: Industry Vertical, Length: 804, dtype: int64